{% extends 'base.html' %}

{% block content %}
    <div class="body-main">
        <div class="container">
            <h1 class="title-main">OPerator</h1>
            <p class="subtitle-main">OPerator - начинающий мобильный оператор, выгодные предложения в соотношений связь + скорость. вы можете как сами воссоздать свой тарифный план, как и подобрать для себя подходящий.</p>
            <p class="subtitle-main">Наши тарифные планы деляться на малые, средние и высокие трафики. В зависимости выбора одного из трех, в любом промежутке времени, вы можете поменять или же при помощи нащей новой функций взять хороший тарифный план. БОТ вам выдаст хорошие предложения, в заввисимости вашими ежемесячными попалнениями и расходами трафика. Наш БОТ, учитавая ваши расходы, выдаст вам значительно хороший для вас тарифный план.</p>
            <p class="subtitle-main">Выбирайте наш сервис, будем идти к высшим целям по скорости и производительности вместе. Ваша поддержка очень важна нам!</p>
        </div>
    </div>
{% endblock %}